.text {
  padding-left: 5px;
}

.radio-filtros-space {
  margin-left: 50px;
}

.warning-qtdCadastros {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: rgba(128, 128, 128, 0.445);
}

.pagination-table {
  --bs-pagination-border-radius: 3.25rem;
}